@import 'https://fonts.googleapis.com/css?family=Signika';

h1 {
  Text-align: center;
  Font-family:"Signika"
}

#hhh {
  Text-align: center;
  Font-family:"Signika"
}
#playbutton{
  Text-align: center;
  Font-family:"Signika"
}